.ButtonNavigation{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 85px 0 0 28px;
}

.Button{
    width: 109px;
    height: 26px;
    color: #FFFFFF;

    background: #3A3330;
    border: 1px solid #EF6F2E;
    border-radius: 30px;
}

a:link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}