.App {
  display: flex;
  text-align: center;
  justify-content: center;
}
.Header{
  width: 1920px;
  height: 549px;
  left: 1px;
  top: 1px;
  background: linear-gradient(180deg, rgba(58, 51, 48, 0) 0%, rgba(58, 51, 48, 0.31558) 0.01%, rgba(58, 51, 48, 0.581335) 0.02%, rgba(58, 51, 48, 0.68) 45.86%, rgba(58, 51, 48, 0.68) 64.09%), url("./img/Banner-Platinum1.jpg") center center/cover no-repeat;
}